.bt {
  border-radius: 30px;
}

.bt:hover {
  color: blue;
  background: white;
}

/* Custom CSS for React Text Editor App */
.container-fluid {
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
}

.form-check-label {
  font-size: 1.1rem;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
